.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
}

.slick-dots li.slick-active button::before {
    color: orange;
}

.slick-dots li button::before {
    font-size: 10px;
    color: gray;
}

